art==6.0
base==0.0.0
beautifulsoup4==4.12.2
Brotli==1.1.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
ffmpeg==1.4
Flask==2.2.3
glcontext==2.5.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
llvmlite==0.41.1
MarkupSafe==2.1.2
moderngl==5.8.2
MouseInfo==0.1.3
mutagen==1.47.0
numba==0.58.1
numpy==1.25.2
pandas==2.0.3
Pillow==9.5.0
PyAutoGUI==0.9.53
pycryptodomex==3.20.0
pygame==2.5.2
PyGetWindow==0.0.9
PyGLM==2.7.1
pyjokes==0.6.0
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
pyttsx3==2.90
pytube==15.0.0
pytweening==1.0.4
pytz==2023.3
pywhatkit==5.4
pywin32==306
requests==2.32.3
six==1.16.0
soupsieve==2.4
SpeechRecognition==3.10.0
tbomb==2.1.2
tzdata==2023.3
urllib3==2.2.1
websockets==12.0
Werkzeug==2.2.3
wikipedia==1.4.0
youtube-dl==2021.12.17
yt-dlp==2024.5.27
